/* Variables */

:root {
  --portfolioPrimaryColor: rgb(12, 14, 24);
  --portfolioPrimaryColorFade: rgb(12, 14, 24, 0.3);
  --portfolioSecondColor: rgb(250, 230, 203);
  --portfolioThirdColor: rgb(131, 138, 255);
  --portfolioHoverColor: rgb(177, 169, 158);
}

/* General Properties */



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: fit-content;
  background-color: var(--portfolioPrimaryColor);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;

}

p {
  margin: 0;
}



header {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 70px 0px;
  height: auto;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: rgb(12, 14, 24);
  z-index: 2;
}

#title-ew {
  display: flex;
}

h1 {

  font-size: 350%;
  text-transform: uppercase;
  padding: 10px 0px 0px 100px;
  color: var(--portfolioSecondColor);
}

header h4 {
  color: var(--portfolioSecondColor);
  align-self: flex-end;
  display: inline;
  font-size: 120%;
}

nav {
  padding-right: 60px;
  display: flex;
  align-items: baseline;
}

a {
  text-decoration: none;
}

nav a {
  padding: 10px 70px;
  font-weight: bolder;
  color: var(--portfolioSecondColor);
  font-size: 1.7rem;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--portfolioHoverColor)
}

.hero-banner {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 600px;
  background-color: var(--portfolioPrimaryColor);
  margin-bottom: 100px;
  padding-top: 200px;

}

.hero-banner div {
  background-image: url(../images/pexels-steve-johnson-1044989.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-width: 800px;
  background-position: center;
  position: relative;
  transform: scaleX(3.7);
  width: auto;
  min-height: 400px;
  max-height: 400px;
  box-shadow: inset 0 0 1200px rgb(21, 25, 46);

}

.profile {
  width: 36%;
  margin: 5% auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile img {
  height: 350px;
}

.profile h2 {
text-transform: uppercase;
  color: antiquewhite;
  padding: 50px;
  text-align: center;
  font-size: 180%;
  font-weight: bold;

}

main {
  background-color: var(--portfolioPrimaryColor);
  color: var(--portfolioSecondColor);
}

.page-wrapper {
  margin: 0 auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 95%;

}

.topLine {
  width: 27%;
  margin-left: 1%;
  border-top: 4px solid white;
  position: sticky;
}


.page-wrapper h2 {
  font-size: 270%;
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: bold;

}

.page-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-section h2 {
  width: 25%;
 ;
  
}



.about,
.work,
.contact {
  height: fit-content;
  margin: 5% 0 5% 10%
}



.contact {
  padding-bottom: 5%;
}

.rightHand {
  width: 91%;
  padding: 0px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  line-height: 1.8;

}

.about .rightHand {
  padding-top: 50px;
  margin-right: 55px;
 

}

#aboutMee {
  display: flex;
}

#bigAbout {
  color: var(--portfolioHoverColor);
  display: inline-block;
  font-size: 350%;
  width: 100%;
  max-width: 220px;
  text-align: right;
  margin-right: 20px;
  margin-left: 3%;
  font-weight: bold;
  /* line-height: 1.4; */
}

#you {
  display: inline;
}



#otherAbout {
  text-align: left;
  font-size: 185%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 27px;
  font-weight: bold;
  line-height: 2;
}

strong {
  font-size: 120%;
  color: var(--portfolioThirdColor);
}

@media only screen and (max-width:2580px) {
  #otherAbout {
    font-size: 170%;
    
  }
  
}
@media only screen and (max-width:1960px) {
  #otherAbout {
    font-size: 150%;
  }
  .page-section h2 {
    width: 25%;
    padding-right: 500px;
    
  }
  
}

@media only screen and (max-width:1660px) {
  #otherAbout {
    font-size: 130%;
  }
  .page-section h2 {
    width: 25%;
    padding-right: 340px;
  }
  .page-wrapper {
    width: 95%;
  }
  .about,
.work,
.contact {
  height: fit-content;
  margin: 5% 0 5% 2%
}
nav {
  display: none;
}
header {
  position: relative;
}
}

@media only screen and (max-width:1520px)

.work {
  height: fit-content
}



#allWork {
  display: grid;
  position: relative;
  margin: 50px 50px;
  text-transform: uppercase;
  grid-template-columns: 50% 50%;
  grid-template-rows: 850px 550px 550px;
  grid-template-areas:
    "fold-card fold-card"
    "seo calc"
    "pwsg to-do"
  ;
}

.rightHand a {
  margin: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px var(--portfolioPrimaryColorFade);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transition: all 0.3s ease-in;
}

.rightHand a:hover {
  box-shadow: none;
}

.rightHand a div {
  display: inline;
  width: max-content;
  padding: 15px;
  color: var(--portfolioSecondColor);
  background-color: rgb(12, 14, 24, 0.7);
  transition: all 0.3s ease-in;

}

.rightHand a:hover div {
  background-color: rgb(12, 14, 24, 0.97);
  color: var(--portfolioSecondColor);
}

.rightHand a div h3 {
  font-size: 200%;
}

.rightHand a div h4 {
  padding: 0px;
  font-size: 150%;
}



#to-do {
  grid-area: to-do;
  background-image: url(../images/pexels-breakingpic-3299.jpg);
}

#seo {
  grid-area: seo;
  background-image: url(../images/SEO.jpg);
}

#calculator {
  grid-area: calc;
  background-image: url(../images/pexels-pixabay-220301.jpg);
}

#pre-work-study {
  grid-area: pwsg;
  background-image: url(../images/Prework\ Study.jpg);
}

#folding-card {
  grid-area: fold-card;
  background-image: url(../images/Folding\ Cards.jpg);
  justify-content: flex-start;
  background-position: left;
}

/* Contact CSS */



#contactContent {
  display: flex;
  width: 65%;
  margin-bottom: 5%;
  justify-content: space-between;
  align-items: center;
  font-size: 160%;
  text-align: center;
}

#contactContent h4 {
  padding: 20px;
  width: 400px;
  text-transform: uppercase;
  border: 3px solid var(--portfolioSecondColor);
  display: flex;
  flex-direction: column;
  
  
}


#contactContent h4 a {
  color: var(--portfolioSecondColor);
  margin: 0px;
  padding: 0px;
  font-size: 90%;
  margin: 0 auto;
  text-transform: lowercase;
}

@media only screen and (max-width: 2280px) {
  #contactContent h4 {
    margin: 0 8px;
  }
}