* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;
  align-items: center;
  
}

p {
  margin: 0;
}

header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

h1 {
  max-width: 240px;
}




nav a {
  padding: 75px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;

}

@media only screen and (max-width: 1020px) {
  nav {
    display: none;
  }
  header {
    justify-content: flex-start;
  }
}

  main {
    display: grid;
    justify-items: end;
    grid-template-rows: 2fr 8fr 2fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "about-title about"
    "work-title work"
    "contact-title contact";
  }

  .about h2 {
    grid-area: about-title;
      }
    
      .work h2 {
    grid-area: work-title;
      }
    
      .contact h2 {
    grid-area: contact-title;

      }

  .aboutContent {
grid-area: about;
  }

  .allWork {
grid-area: work;
  }

  .contact {
grid-area: contact;
  }


  #to-do {
    background-image: url("../images/02-portfolio-1.jpg");

  }