
/* General Properties */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;
  align-items: center;
  
}

p {
  margin: 0;
}

header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  position: sticky;
}

h1 {
  min-width: 500px;
  font-size: 350%;
}

nav a {
  padding: 10px 75px;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
}

nav a:hover {
  color: red
}
